In [2]:
import pandas as pd

In [25]:
# CSV Comma separated values.
data=pd.read_csv(r"C:\Users\smit\Downloads\noble.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\smit\\Downloads\\noble.csv'

In [20]:

data = pd.read_excel(r"C:\Users\smit\Downloads\nobel.xlsx")
data.head(10)

,year,category,prize,motivation,prize_share,laureate_id,laureate_type,full_name,birth_date,birth_city,birth_country,sex,organization_name,organization_city,organization_country,death_date,death_city,death_country
0,1901,Chemistry,The Nobel Prize in Chemistry 1901,"""in recognition of the extraordinary services ...",2024-01-01,160,Individual,Jacobus Henricus van 't Hoff,1852-08-30,Rotterdam,Netherlands,Male,Berlin University,Berlin,Germany,1911-03-01,Berlin,Germany
1,1901,Literature,The Nobel Prize in Literature 1901,"""in special recognition of his poetic composit...",2024-01-01,569,Individual,Sully Prudhomme,1839-03-16,Paris,France,Male,NaN,NaN,NaN,1907-09-07,ChÃ¢tenay,France
2,1901,Medicine,The Nobel Prize in Physiology or Medicine 1901,"""for his work on serum therapy, especially its...",2024-01-01,293,Individual,Emil Adolf von Behring,1854-03-15,Hansdorf (Lawice),Prussia (Poland),Male,Marburg University,Marburg,Germany,1917-03-31,Marburg,Germany
3,1901,Peace,The Nobel Peace Prize 1901,NaN,2024-01-02,462,Individual,Jean Henry Dunant,1828-05-08,Geneva,Switzerland,Male,NaN,NaN,NaN,1910-10-30,Heiden,Switzerland
4,1901,Peace,The Nobel Peace Prize 1901,NaN,2024-01-02,463,Individual,FrÃ©dÃ©ric Passy,1822-05-20,Paris,France,Male,NaN,NaN,NaN,1912-06-12,Paris,France
5,1901,Physics,The Nobel Prize in Physics 1901,"""in recognition of the extraordinary services ...",2024-01-01,1,Individual,Wilhelm Conrad RÃ¶ntgen,1845-03-27,Lennep (Remscheid),Prussia (Germany),Male,Munich University,Munich,Germany,1923-02-10,Munich,Germany
6,1902,Chemistry,The Nobel Prize in Chemistry 1902,"""in recognition of the extraordinary services ...",2024-01-01,161,Individual,Hermann Emil Fischer,1852-10-09,Euskirchen,Prussia (Germany),Male,Berlin University,Berlin,Germany,1919-07-15,Berlin,Germany
7,1902,Literature,The Nobel Prize in Literature 1902,"""the greatest living master of the art of hist...",2024-01-01,571,Individual,Christian Matthias Theodor Mommsen,1817-11-30,Garding,Schleswig (Germany),Male,NaN,NaN,NaN,1903-11-01,Charlottenburg,Germany
8,1902,Medicine,The Nobel Prize in Physiology or Medicine 1902,"""for his work on malaria, by which he has show...",2024-01-01,294,Individual,Ronald Ross,1857-05-13,Almora,India,Male,University College,Liverpool,United Kingdom,1932-09-16,Putney Heath,United Kingdom
9,1902,Peace,The Nobel Peace Prize 1902,NaN,2024-01-02,464,Individual,Ã‰lie Ducommun,1833-02-19,Geneva,Switzerland,Male,NaN,NaN,NaN,1906-12-07,Bern,Switzerland

In [26]:
#last 5 rows
data.tail()

,year,category,prize,motivation,prize_share,laureate_id,laureate_type,full_name,birth_date,birth_city,birth_country,sex,organization_name,organization_city,organization_country,death_date,death_city,death_country
995,2023,Chemistry,The Nobel Prize in Chemistry 2023,"""for the discovery and synthesis of quantum dots""",2024-01-03,1030,Individual,Louis Brus,1943-00-00,"Cleveland, OH",United States of America,Male,Columbia University,"New York, NY",United States of America,NaT,NaN,NaN
996,2023,Chemistry,The Nobel Prize in Chemistry 2023,"""for the discovery and synthesis of quantum dots""",2024-01-03,1031,Individual,Aleksey Yekimov,1945-00-00,NaN,USSR (now Russia),Male,Nanocrystals Technology Inc.,"New York, NY",United States of America,NaT,NaN,NaN
997,2023,Literature,The Nobel Prize in Literature 2023,"""for his innovative plays and prose which give...",2024-01-01,1032,Individual,Jon Fosse,1959-09-29 00:00:00,Haugesund,Norway,Male,NaN,NaN,NaN,NaT,NaN,NaN
998,2023,Peace,The Nobel Peace Prize 2023,"""for her fight against the oppression of women...",2024-01-01,1033,Individual,Narges Mohammadi,1972-04-21 00:00:00,Zanjan,Iran,Female,NaN,NaN,NaN,NaT,NaN,NaN
999,2023,Economics,The Sveriges Riksbank Prize in Economic Scienc...,"""for having advanced our understanding of wome...",2024-01-01,1034,Individual,Claudia Goldin,1946-00-00,"New York, NY",United States of America,Female,Harvard University,"Cambridge, MA",United States of America,NaT,NaN,NaN

In [37]:
#Checking dataset.
#To check rows and columns.
print(data.shape)

(1000, 18)

In [38]:
#Checking dataset.
#To check cloumns only.
print(data.shape[1])

18

In [40]:
#To check column 
print(data.columns)

Index(['year', 'category', 'prize', 'motivation', 'prize_share', 'laureate_id',
       'laureate_type', 'full_name', 'birth_date', 'birth_city',
       'birth_country', 'sex', 'organization_name', 'organization_city',
       'organization_country', 'death_date', 'death_city', 'death_country'],
      dtype='object')

In [42]:
type(data)

pandas.core.frame.DataFrame

In [44]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   year                  1000 non-null   int64
 1   category              1000 non-null   object
 2   prize                 1000 non-null   object
 3   motivation            912 non-null    object
 4   prize_share           1000 non-null   datetime64[ns]
 5   laureate_id           1000 non-null   int64
 6   laureate_type         1000 non-null   object
 7   full_name             1000 non-null   object
 8   birth_date            968 non-null    object
 9   birth_city            964 non-null    object
 10  birth_country         969 non-null    object
 11  sex                   970 non-null    object
 12  organization_name     736 non-null    object
 13  organization_city     735 non-null    object
 14  organization_country  735 non-null    object
 15  death_date            596 non-null    datetime64[ns]
 16  death_city            579 non-null    object
 17  death_country         585 non-null    object
dtypes: datetime64[ns](2), int64(2), object(14)
memory usage: 140.8+ KB

In [47]:
#stats Description
data.describe()

,year,prize_share,laureate_id,death_date
count,1000.000000,1000,1000.000000,596
mean,1973.721000,2024-01-02 00:38:52.800000256,509.099000,1975-02-14 13:48:43.489932896
min,1901.000000,2024-01-01 00:00:00,1.000000,1903-11-01 00:00:00
25%,1949.750000,2024-01-01 00:00:00,250.750000,1954-02-15 12:00:00
50%,1979.000000,2024-01-02 00:00:00,500.500000,1980-03-09 12:00:00
75%,2003.000000,2024-01-03 00:00:00,764.250000,2000-01-05 00:00:00
max,2023.000000,2024-01-04 00:00:00,1034.000000,2023-10-13 00:00:00
std,34.523195,NaN,298.130617,NaN

In [ ]:
#Categorical
data.describe(include="all")